
@font-face {
  font-family: anubhav_ka_font;
  src: url("./pages/ANUBHAVG.ttf");
}

a:hover{
  color: brown;
}
span{
  color: red;
}

.cssbaba{
border: 3px solid violet;



}
.cssbaba:hover{
  background-color: yellow;
  opacity: 1.7;
}

.p{
  text-align: center;
}
#i{
  display: block;
    margin-left: auto;
    margin-right: auto
}
#li {
  text-decoration: none;
  color: rgb(170, 40, 196);
 font-family: anubhav_ka_font;
 
  
}

#yuk {
  
  border: 1px solid violet;
  text-decoration: none;
  
}








