
@font-face {
  font-family: anubhav_ka_font;
  src: url("./pages/ANUBHAVG.ttf");
}

a:hover{
  color: brown;
}
span{
  color: red;
}

.cssbaba{
border: 3px solid violet;



}
.cssbaba:hover{
  background-color: yellow;
  opacity: 1.7;
}

.p{
  text-align: center;
}
#i{
  display: block;
    margin-left: auto;
    margin-right: auto
}
#li {
  text-decoration: none;
  color: rgb(170, 40, 196);
 font-family: anubhav_ka_font;
 font-size: large;
 
  
}

#yuk {
  
  border: 1px solid violet;
  text-decoration: none;
  background-color: aqua;

}

#yuk:hover {

background-color:yellowgreen;

}

.jaha {
  font-family: anubhav_ka_font;
  font-size: large;
}
#jkl {
  border: 2px solid pink;
  background: pink;
}

#undev {
  background-color: aquamarine;
  opacity: 0.5;
  border: 0.5px solid violet;
}






